nav{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    height: 30px;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 41px;
    

}
nav div a{
    text-decoration: none;
    padding: 10px;
    height: 100%;
    
}
body{
    background-color:#bfc8f6;
    color: #fff;

}
tr{
    width: 20px;
    height: 20px;
}
section{
    display: flex;
    justify-content: center;
}


table{
    border-spacing: 10px;
}


.inpt{
    /* display: flex; */
    width: 80%;
    
    padding-bottom: 20px;
    padding-right:1% ;
    padding-left:1% ;
    background-color: #aab5e6;
   
    
}
input{
    height: 30px;
    border: none;
    border-radius: 7px;
    width: 90%;
    margin: auto;
    margin: 4px 0;
    outline: none;
    padding: 4px;

    
}
input:focus{
    background-color: antiquewhite;

transform: scale(1.1);}
.inpt input{
    /* width: 20%; */
}
