header{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    height: 50px;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 41px;
    border-radius: 10px;
}

body{
    background-color:#bfc8f6;
    color: #fff;

}

section{
    display: flex;
    justify-content: center;
    
}


table{
    border-spacing: 10px;
}
form{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tbl{
    width: 605px;
}
#ajouter{
    width: 80px;
    text-align: left;
}
th{
    width: 70px;
}

input{
    height: 30px;
    border: none;
    border-radius: 7px;
    width: 80%;
    margin: auto;
    margin: 4px 0;
    outline: none;
    padding: 4px;

    
}
input:focus{
    background-color: antiquewhite;

transform: scale(1.1);}

